#logo{
	
	max-width: 151px;
	max-height: 51px;
	display: inline;
}


.navbar {
	border-radius: 0px;	
}

#banner{
	padding: 10% 0 8% 0;
	text-align: center;
	margin-bottom: 0;
	box-sizing: border-box;
	background-color: #f4fff5;
	font-family: 'Ubuntu', sans-serif;
}

#imgbanner{
	width: 105%;

}

#footer{
	padding: 3% 3% 3% 3%;
	background-color: #efefef;
	font-family: 'Ubuntu', sans-serif;
}

.centrado{
	text-align: center;
	
}

.servicios{
	padding: 0 4% 0 4%;
	margin:	5% 0 5% 0;
	font-family: 'Ubuntu', sans-serif;
}

.glyphicon{
	font-size: 3em;
	color: #009b4b;
	margin: 5% 0 5% 0;

}


#donaciones{
	background: url(./imagenes/background.png) repeat center;
	background-size: cover;
	height: 250px;
	text-align: center;
	text-shadow: 2px 2px white;
	color: black;
	padding: 5% 0 5% 0;
	font-family: 'Ubuntu', sans-serif;
}

#noticias h2{
	padding-left: 2%;
	font-family: 'Ubuntu', sans-serif;
}



}